# Mistral AI API Key (JAMAIS commiter ce fichier!)
MISTRAL_API_KEY=TSTlYdHui4PAsQLyaJJhJVjzZVt4ROKz

# Configuration serveur
PORT=3000
NODE_ENV=development

# URLs autorisées pour CORS
FRONTEND_URL=http://localhost:3000
GITHUB_PAGES_URL=https://lejuriste237.github.io
CUSTOM_DOMAIN=https://academie-penale.cm
